Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- List popular languages for Data Science.
- Overview of commonly used Data Science libraries.
- Introduction to Data Science tools and environments.
- Examples of arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas  
2. NumPy 
3. Matplotlib 
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
a = 3
b = 4
c = 5
z = (a*b) + c
print(z)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = 200/60
print(f"{hours} hours")

3.3333333333333335 hours

## Author
Alok Rawat